@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.badge {
   visibility:hidden;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1px 3px 1px 3px;
    color: black !important;
    border-radius: 3px;
    position: relative;
    top: -2px;
    text-shadow: none !important;
    white-space: nowrap;
    letter-spacing: 0;
}
.badge-pro {
    background: #fcd000;
}

.container-profile{
   position:fixed;
   height:500px;
   width:300px;
   background-color:white;
   position:absolute;
   top:100px;
   left:20px;
   box-shadow: 0 14px 28px rgba(241, 217, 172, 0.22), 0 10px 10px rgba(241, 217, 172, 0.22);
}
.profile-picture{
   background:url('http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg');
   background-repeat:no-repeat;
   background-size:130px 130px;
   background-color:white;
   width:130px;
   height:130px;
   border-radius:50%;
   margin:0 auto;
   margin-top:33px;
  
   border:3px solid orange;
}
.profile-name{
   text-align:center;
   color:black;
   position:relative;
   top:10px;
   font-size:9px;
   font-family:Roboto;
   letter-spacing:1px;
}
.profile-caption{
   text-align:center;
   color:#BCAAA4;
   font-family:Roboto;
   position:relative;
   top:0px;
   font-size:15px;
}
.profile-location{
   position:relative;
   top:-10px;
   text-align:center;
   color:#78909C;
   font-family:Roboto;
}
.svg-pro{
   position:relative;
   top:5px;
   fill:#78909C;
}
.profile-location hr{
   color:red;
   height:2px;
   background-color:red;
   text-align:center;
   width:25px;
   position:relative;
   top:-10px;
   border:none;
}
.profile-followers{
   position:relative;
   top:-10px;
   background-color:#CFD8DC;
   width:100%;
   height:80px;
}
.profile-followers p{
   font-family:Roboto;
   text-align:center;
   font-size:10px;
}

.profile-bio{
   height:auto;
}
.profile-bio h2{
   font-family:Roboto;
   text-align:center;
   padding:10px;
   font-size:15px;
   top:-10px;
   position:relative;
   color:#607D8B;
}



.social{
   background-color:white;
}
.social i{
   text-decoration:none;
   color:#607D8B;
   font-size:20px;
   top:-10px;
}
.social a{
   text-decoration:none;
   color:#607D8B;
}
@media screen and (min-width: 960px){
  section .content-profile{
    float: left;
    width: 65%;
    position: absolute;
    left: 450px;
  }
  section aside{
    float: left;
    width: 30%;
  }
  .content-profile{
  padding-right: 30px;
  }
  .post{
          box-shadow: 5px 10px 14px 1px rgba(194,194,194,1);
  }
}
@media screen and (min-width: 480px) and (max-width: 960px){
  section .content-profile{
    float: left;
    width: 100%;
  }
  section aside{
    float: left;
    width: 100%;
  }
  .item.post{
    border: 1px solid #dfdfdf;
  }
  
}
//BOTON DE AGREGAR ARTICULO
/* The button-maker */
@mixin arrow-button($color, $background, $shadow, $font-size, $width, $height, $direction) {  
  background: none;
  border: 0;
  font-size: $font-size;
  line-height: $height;
  position: relative;
  width: $width;
  height: $height;
  
  @if $direction == "up" {
    transform: rotate(-90deg);
  }  @else if $direction == "down" {
    transform: rotate(90deg);
  }
  
  a {
    color: $color;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }
  
  &::before,
  &::after {
    background: $background;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
      left: 0;
      right: 0;
    transition: all 1s;
    height: $height/2;
  }
  

  &::before { 
    box-shadow: 
      -1px 1px 0 $shadow,
      -2px 2px 0 $shadow,
      -3px 3px 0 $shadow,
      -4px 4px 0 $shadow;
    transform: skew(45deg);
    @if $direction == "left" { bottom: 0; z-index: 1 }
    @else { top: 0; }
  }

  &::after {
    box-shadow: 1px 1px 0 $shadow, 
      2px 2px 0 $shadow,
      3px 3px 0 $shadow, 
      4px 4px 0 $shadow;
    transform: skew(-45deg);
    @if $direction == "left" { top: 0;}
    @else { bottom: 0; }
  }
  
  &:hover::before,
  &:hover::after {
    background: lighten($background,15%);
  }
  
  &:focus {
      &::before,
      &::after {
        background: lighten($background,15%);
      }
      outline: 0;
  }
}

/* How to include it */
.btn-right {
  @include arrow-button(#fff, #29c0d5, #1897c0, 22px, 8em, 2em, right);
  
  &:hover {
    //animation: zoom 2s;
  }
}

.btn-left {
  @include arrow-button(#fff, #b92f2f, #ad2b2b, 22px, 8em, 2em, left);
  
  &:hover {
    //animation: spin 1.5s linear;
  }
}

.btn-up {
  @include arrow-button(#fff, #e4135d, #c81163, 22px, 4em, 3em, up);
}

.btn-down {
  @include arrow-button(#fff, #29c0d5, #1897c0, 22px, 6em, 4em, down);
  margin-top: 3em;
}
.buttonArticle{
  position: absolute;
  
    left: 40px;
    margin: 10PX;
    padding: 10px;


}

