@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  margin: 0;
  padding: 0;
  font: normal normal 13px 'Times New Roman', Times, FreeSerif, serif;
  background-color:beige;
  background-image: radial-gradient(rgb(184, 147, 95) 7.2%, transparent 0);
   background-size: 25px 25px;
}


.section-container{
  display: flex;
  margin: 1;
  width: 100%;
}
.rigth-contain{
    margin-left:10px;
    float:right;
}

.left-contain{
  margin: 2rem;
}
.headline{
    font-family: Source Sans Pro;
    font-size: 60px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 30px;
    text-align: left;
  }
