@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  margin: 0;
  padding: 0;
  
  background-color: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
   background-size: 25px 25px;
}


.section-container{
  display: flex;
  margin: 1;
  width: 100%;
}
.rigth-contain{

  width:220px;
    margin-left:30px;
    float:right;
}


.left-contain{
  overflow:hidden;
  margin: 2rem;
}
.headline{
    font-family: Source Sans Pro;
    font-size: 60px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 30px;
    text-align: left;
  }
