.projects-container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3,200px);
  grid-template-rows: auto;
  gap: 20px 50px;
}

.project{
  display: grid;
  text-align: center;
  border: 1px;
  border-radius: 30px;
  border-color: black;
  border-style: dashed;
  grid-template-columns:1fr;
  grid-template-rows: repeat(1fr,4);
  box-shadow: 5px 5px 5px 1px; 
}

.project-title{
  position:relative;
}
.project-title-title h1{
  position:relative;
  color:  #999999;
}

.project-title-img{
  position:absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 30px 30px 0px 0px;
  background-size: 200px;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.project-other{
  margin: 5%;
  
}

.project-bar{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
}

.project-new{
  display: grid;
  border: 1px;
  border-radius: 30px;
  border-color: rgb(150, 150, 150);
  border-style: dashed;
  grid-template-columns:1fr;
  grid-template-rows: 1fr ;
  box-shadow: 5px 5px 5px 1px; 
}
.project-new button{
  width: 100% !important;
  height: 100%;
  border-radius: 30px;
}

.project-new button .pi{
  font-size: 8em;
}

.project-new:hover{
  filter: blur(1px);
}

@media screen and (max-width: 600px){
  .projects-container{
    grid-template-columns: repeat(2,150px);
  }
  .project h4{
    font-size: 15px;
  }
  h1{
    font-size: 24px;
  }
}