:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --height-bar: 50px;
}
.toolbar{
 
  justify-content: space-around;
  min-height: 5vh;
  background-color: #343a40;
  font-family: Source Sans Pro;

    width: 100%;
    background: #343a40;
    height: var(--height-bar);  
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius:0px 0px 15px 15px;
    box-shadow: 0px 0px 10px 0px;
    z-index: 10;

  
}

.toolbar-navigation{
  display: grid;
  justify-content: center;
  grid-template-columns:repeat(7,60px);
  grid-template-rows: var(--height-bar); 
  gap:10px;
}

.bar-logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--height-bar);
}

.menu-item{
  display:flex;
  justify-content: space-around;
  width: 30%;
  text-align: left;
  align-self: center
}

.menu-item a{
  color: rgba(255,255,255,.5);

}
@media (max-width: 1992px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
