:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --height-bar: 50px;
}
.toolbar{
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  background-color: #343a40;
  font-family: Source Sans Pro;

  
}

.toolbar-navigation{
  display: grid;
  justify-content: center;
  grid-template-columns:repeat(7,60px);
  grid-template-rows: var(--height-bar); 
  gap:10px;
}

.bar-logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--height-bar);
}

.menu-item{
  display:flex;
  justify-content: space-around;
  width: 30%;
  text-align: left;
  align-self: center
}

.menu-item a{
  color: rgba(255,255,255,.5);

}
